@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.slick-slide{
  margin-right: 20px!important;
}
.slick-initialized{
  height: 350px!important;
}
.slick-prev{
  left:-35px!important;
}
.slick-prev:before{
  content: url('../public/assets/left-arrow.png')!important;
}
.slick-next:before{
  content: url('../public/assets/right-arrow.png')!important;
}
.slick-dots li.slick-active button:before{
  color: #FE5E05;
}

.footer-feature:hover .feature-icon{
  color: #F37520;
  transition: color 0.4s ease-in-out;
}
